.pagination {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;

  & button {
    height: 25px;
    width: 50px;
    margin-left: 0.25%;
    margin-right: 0.25%;
    background-color: transparent;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid black;
    color: black;
  }

  & button:hover {
    background-color: #060515;
    color: white;
  }
  
}
.pagination__active{
  background-color: cadetblue !important;
  color: #fff !important;
  border-color: cadetblue !important;
}