/* Products Details Section Start*/
.productsDetails {
  max-width: 1110px;
  margin: auto;

  &__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
    min-width: 300px;
    margin: auto;
    padding: 5px 8px 30px 8px;
    text-align: center;
    cursor: pointer;
    &__image {
      height: 300px;
      width: 300px;
      // margin: 5px;
      border-radius: 50%;
      &__main {
        margin: auto;
        // width: 100%;
        max-width: 540px;
        display: flex;
        border-radius: 50%;
        align-items: center;
      }     
      &__main--selected {
        height: 300px;
        margin: 0 auto;
        border: 2px solid cadetblue;
      }
      &__sub {
        // width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 10px;
      }
      &__sub img {
        width: 100px;
        height: 100px;
        margin: 5px 0;
        display: block;
        cursor: pointer;
      }
    }
    &__body {
      text-align: left;
      margin-top: 50px;
    }
    &__body__title {
      color: #005bc7;
    }
    &__body__title h3 {
      font-weight: 400;
      font-size: 2rem;
    }
    &__body__description {
      color: #808080;
    }
    &__body__price {
      display: flex;
      &__quantity {
        display: flex;
        height: 35px;
        width: 18%;
        margin-top: 5px;
        margin-left: 50px;
        border-radius: 25px;
        border: 1px solid black;
      }
    }
    &__body__cart {
      margin-top: 20px;
      height: 35px;
      width: 150px;
      background-color: #dc3545;
      border: none;
      border-radius: 25px;
      font-size: 16px;
      color: #fff;
      padding-inline: 10px;
      cursor: pointer;
    }
    &__body__price__quantity__plus {
      background: transparent;
      border: none;
      color: #dc3545;
      cursor: pointer;
      padding: 0px 10px;
    }
    &__body__price__quantity__minus {
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 0px 10px;
    }
    &__body h2 {
      font-size: 2rem;
      font-weight: 500;
    }
  }
  &__endTitle {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
  }
  &__sameCategory {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    &__card {
      border: 1px solid #dc3545;
      min-width: 300px;
      margin: auto;
      padding: 5px 8px 30px 8px;
      text-align: center;
      cursor: pointer;
      &__image {
        height: 150px;
        width: 150px;
        margin: 5px;
        border-radius: 50%;
      }
      &__body__title {
        color: #005bc7;
      }
      &__body__title h3 {
        font-weight: 400;
        font-size: 1rem;
      }
      &__body__description {
        color: #808080;
      }
      &__body h2 {
        color: #808080;
        font-size: 1.5rem;
        font-weight: 500;
      }
    }

    &__card:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }
  }
  &__pagination {
    background: transparent;
    border: none;
    color: #dc3545;
    cursor: pointer;
    padding: 0px 10px;
    text-align: center;
    font-size: 50px;
  }
}

// tablet-version

@media screen and (max-width: 768px) {
  .productsDetails {
    &__card__image {
      height: 250px;
      width: 300px;
      margin: 5px;
      border-radius: 50%;
      margin-top: 25px;
    }
    &__card__body__title h3 {
      font-weight: 400;
      font-size: 1.5rem;
    }
    &__card__body h2 {
      font-size: 1.5rem;
      font-weight: 500;
    }
    &__card__body__price__quantity {
      display: flex;
      height: 25px;
      width: 25%;
      margin-top: 5px;
      margin-left: 50px;
      border-radius: 25px;
      border: 1px solid black;
    }
    &__card__body__price__quantity h1 {
      font-size: 1rem;
    }
    &__sameCategory {
      text-align: center;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;
    }
  }
}

//mobile-version

@media screen and (max-width: 375px) {
  .productsDetails {
    &__card {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px;
      min-width: 300px;
      margin: auto;
      padding: 5px 8px 30px 8px;
      text-align: center;
      cursor: pointer;
      &__body {
        text-align: center;
      }
      &__body__price {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        &__quantity {
          margin: 0;
          display: flex;
          height: 25px;
          width: 22%;
          border-radius: 25px;
          border: 1px solid black;
        }
      }
    }
    &__card__image {
      height: 150px;
      width: 200px;
      margin: 5px;
      border-radius: 50%;
      margin-top: 25px;
    }
    &__card__body__title h3 {
      font-weight: 400;
      font-size: 1rem;
    }
    &__card__body h2 {
      font-size: 1rem;
      font-weight: 500;
    }
    &__card__body__price__quantity h1 {
      font-size: 1rem;
    }
    &__endTitle {
      text-align: center;
      margin-top: 50px;
      margin-bottom: 40px;
    }
    &__sameCategory {
      text-align: center;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 30px;
    }
  }
}

@media screen and (max-width: 360px) {
  .productsDetails {
    &__card {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px;
      min-width: 300px;
      margin: auto;
      padding: 5px 8px 30px 8px;
      text-align: center;
      cursor: pointer;
      &__body {
        text-align: center;
      }
      &__body__price {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        &__quantity {
          margin: 0;
          display: flex;
          height: 25px;
          width: 22%;
          border-radius: 25px;
          border: 1px solid black;
        }
      }
    }
    &__card__image {
      height: 150px;
      width: 200px;
      margin: 5px;
      border-radius: 50%;
      margin-top: 25px;
    }
    &__card__body__title h3 {
      font-weight: 400;
      font-size: 1rem;
    }
    &__card__body h2 {
      font-size: 1rem;
      font-weight: 500;
    }
    &__card__body__price__quantity h1 {
      font-size: 1rem;
    }
    &__endTitle {
      text-align: center;
      margin-top: 50px;
      margin-bottom: 40px;
    }
    &__sameCategory {
      text-align: center;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 30px;
    }
  }
}
