
.menubar {
    margin: auto;
    padding: 15px 15%;
    display: grid;
    align-items: center;
    grid-template-columns: 0.6fr 2.7fr 1.8fr;
    // grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(255, 248, 240);
    box-sizing: border-box;
}


.menubar__left {
    display: flex;
    gap: 5%;
    justify-content: left;
    padding-inline: 10%;
}
 a  {
    color: #007bff;
   text-decoration: none;
}

.menubar__right{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: right;
}
.menubar__right__cart{
    background: transparent;
    border: none;
    color: #dc3545;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.menubar__right__signup{
    height: 35px;
    width: 80px;
    background-color: #dc3545;
    border: none;
    border-radius: 25px;
    font-size:16px;
    color: #fff;
    padding-inline: 10px;
    cursor: pointer;
}

.menubar__burgermenu{
    display: none;
 justify-content: end;
}

ul {
    list-style: none;
    padding: 0;  
    margin-inline:5% ;
}

ul a {
    color: #fff;
}
li {
    padding: 3px ;   
}
.menubar__burgermenu--span{
background-color: #20202088;
width: 100px;
position: absolute;
right: 10%;
top:74px;
text-align: right;
padding-inline: 10px;
display: none;
}

ul :hover{
background-color: #dc3545;
border-radius: 5px;
}


// tablet-version

@media(max-width: 920px) {
    .menubar{
        grid-template-columns: 9fr 1fr;
    }
    .menubar__left {
        display: none;
    }
    .menubar__right{
        display: none;
    }
    .menubar__burgermenu{
        display: flex;
    }
    .menubar__burgermenu--span{
        display: block;
    }        
}
.active{
    font-weight: 700;
}
// mobile-version

@media(max-width: 360px) {    
    .menubar__burgermenu--span{
        width: 100%;
        right: 0;
        padding-inline: 0;
        display: block;
        text-align: center;
    }
        
}