.SameCategory__card {
  border: 1px solid #6c6263;
  border-radius: 5px;
  min-width: 250px;
  max-width: 350px;
  margin: 20px 10px; 
  padding: 5px 8px 30px 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &__image {
    height: 150px;
    width: 150px;
    margin: 15px 0px;
    border-radius: 50%;
  }
  &__body__title {
    color: #005bc7;
    margin: 0;
    max-width: 200px;
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__body__title h3 {
    font-weight: 400;
    font-size: 1rem;
  }
  &__body__description {
    color: #808080;
    max-width: 200px;
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__body h2 {
    color: #808080;
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
}

.slick-next,
.slick-arrow {
  right: 0;
  display: none !important;
}
.slick-track {
  float: left;
}
